$darkgrey: #757575;
$grey: #F5F5F5;
$lightgrey: #E0E0E0;
$white: #fafafa;
$lightblue: #9ad3de;
$blue: #03A9F4;
$semiblue: #E1F5FE;
$color-defect: #E57373;
$color-userstory: #7986CB;
$color-task: #4DB6AC;
$color-feature: #81C784;
$font: -apple-system,
BlinkMacSystemFont,
sans-serif;
body {
  margin: 0;
  padding: 0 0 5em 0;
  font-family: $font;
  background-color: $grey;
}

h3 {
  margin: 0 0 1em 0;
}

h4 {
  margin: 0;
}

button {
  transition-duration: 0.3s;
  cursor: pointer;
}

button:hover {
  transition-duration: 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type=submit] {
  cursor: pointer;
}

.app {
  width: 80%;
  margin: auto;
}

.add-board {
  width: min-content;
  margin: auto;
  padding: 1em;
}

.input-add {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  color: $blue;
  background-color: transparent;
  border: 2px solid $blue;
  border-radius: 9999em;
  padding: 0.5em 2em;
  margin: 1em auto;
  transition-duration: 0.25s;
}

.input-add:hover {
  background-color: $blue;
  color: #eee;
  transition-duration: 0.25s;
}

.add-board form input {
  border: 2px solid $blue;
  background-color: transparent;
  border-radius: 9999em;
  line-height: 1.5;
  font-size: 1.25em;
  color: #3b3b3b;
  outline: none;
  padding: 0 .4em;
  transition-duration: 1s;
}

.add-board form input:focus {
  border: 2px solid transparent;
  box-shadow: 0 0 20px 1px $blue;
  transition-duration: 0.25s;
}

.board {
  display: grid;
  grid-column-gap: 1em;
}

@for $i from 1 through 50 {
  @if $i>4 {
    .board-#{$i} {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat($i, 1fr);
      grid-auto-rows: minmax(100px, auto);
    }
  }
  @if $i <=4 {
    .board-#{$i} {
      grid-template-columns: repeat($i, 1fr);
      grid-auto-rows: minmax(100px, auto);
    }
  }
}

.defect {
  border-top: 5px solid $color-defect;
}

.user-story {
  border-top: 5px solid $color-userstory;
}

.task {
  border-top: 5px solid $color-task;
}

.feature {
  border-top: 5px solid $color-feature;
}

.story-body {
  display: grid;
  grid-gap: 0.5em;
}

.story-header {
  text-align: center;
}

.story-item {
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  word-wrap: break-word;
}

.button {
  height: 2em;
  border: none;
  outline: none;
  margin: 0.5em 0;
}

.button-left {
  display: inline-block;
  float: left;
  margin-left: 1em;
  width: 3em;
  height: 3em;
  background-color: transparent;
}

.button-right {
  display: inline-block;
  background-color: transparent;
  float: right;
  margin-right: 1em;
  width: 3em;
  height: 3em;
}

.button-delete {
  display: inline-block;
  background-color: $grey;
  width: 3em;
  height: 3em;
  border-radius: 50%
}

.story-item-text {
  display: block;
  padding: 1em;
}

.story-item-text h4 {
  display: block;
}

.story-item-text span {
  word-break: break-all;
}

.roll-down {
  display: none;
}

@keyframes slideUpToDown {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.roll-up {
  text-align: center;
  animation: slideUpToDown;
  background-color: $lightgrey;
}

.delete-board {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 3em;
  height: 3em;
  border: none;
  background-color: transparent;
  transition-duration: 0.2s;
  color: transparent;
}

.delete-board:hover {
  background-color: rgba(255, 0, 0, 0.534);
  transition-duration: 0.2s;
  color: rgb(107, 0, 0);
  font-weight: bold;
}

.story-list {
  padding: 0.5em;
  border-radius: 5px;
  border-top: 1px solid rgb(233, 233, 233);
}

.story-list h3 {
  text-align: center;
}

.story-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  border: 1px solid $darkgrey;
}

.add-story-text {
  background-color: transparent;
  line-height: 1.5;
  color: $darkgrey;
  outline: none;
  padding: 0 .4em;
  grid-column: 1/3;
  grid-row: 2/3;
  border: none;
}

.add-story-button {
  grid-column: 2/3;
  grid-row: 1/2;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  color: $darkgrey;
  background-color: transparent;
  padding: 0.5em 2em;
  border: none;
  transition-duration: 0.2s;
}

.add-story-button:hover {
  background-color: $darkgrey;
  color: $lightgrey;
  transition-duration: 0.2s;
}

.story-form textarea {
  grid-column: 1/3;
  grid-row: 3/4;
  resize: none;
  color: #3b3b3b;
}

.story-select {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $darkgrey;
  border-right: 1px solid $darkgrey;
  color: #3b3b3b;
}